# Compiled Java classes
mini-compiler/build/
c-minus/build/

# Generated output files
mini-compiler/output.txt
c-minus/output.txt

# OS specific files
.DS_Store
Thumbs.db

# IDE files
*.iml
.idea/
.vscode/